# **Python: From Tools to Healthcare Applications**

*Week 2 (Part 1) - Lists, Dictionaries, Tuples, Loops, Functions, Args, Error Handling*
---
Compiled for SHP by Shubh & Pooja

---

# **Warm Up**

Write a piece of code that given as string variable, does the following:
- Prints "short word" for words with up to 4 letters, "medium work" for words with more than 4 and less than 10 letters, and "long word" for words with 10 letters or more.
- Print if the word has an even or an odd number of letters.
- Checks if the word starts with "s" and if not prints its first letter.
- Print "the Force is strong with you" if the word is "jedi".

Test it out by setting a variable "my_word" to a few different values and making sure it does what you want / expect.

In [ ]:
# paste your code here and test it!

# Lists

Lists let you define a sequence of anything -- strings, integers, floats, other lists, etc.

Many of the same operations that work with strings also work with lists. The main difference is that lists are mutable, which means that you can change elements of the list after it has been created.

In [ ]:
teachers = ['Abhi', 'Sharon', 'Renata', 32, '32']

In [ ]:
teachers[0]

'Abhi'

In [ ]:
teachers[-1]

'32'

In [ ]:
teachers*3

['Abhi',
 'Sharon',
 'Renata',
 32,
 '32',
 'Abhi',
 'Sharon',
 'Renata',
 32,
 '32',
 'Abhi',
 'Sharon',
 'Renata',
 32,
 '32']

## Append

In [ ]:
teachers.append('Angelica')

In [ ]:
teachers

['Abhi', 'Sharon', 'Renata', 32, '32', 'Angelica']

## Removing elements from a list

In [ ]:
teachers.remove('Renata')

In [ ]:
teachers

['Abhi', 'Sharon', 32, '32', 'Angelica']

In [ ]:
del teachers[1] # also works to remove multiple elements with slicing, which will be taught in a future class

In [ ]:
teachers

['Abhi', 32, '32', 'Angelica']

In [ ]:
teachers.pop(1) # remove item at index 1 from list & returns it. If don't enter an index, will remove last item.

'32'

In [ ]:
teachers

['Abhi', 'Angelica']

## List of Lists

In [ ]:
n=[1,2,3]
s = ['a', 'b', 'c']
list_of_list = [n,s]
print(list_of_list)

[[1, 2, 3], ['a', 'b', 'c']]

In [ ]:
# append adds the argument inside the parentheses as one element in the list
s.append(n)
print(s)

['a', 'b', 'c', [1, 2, 3]]

In [ ]:
# appends each element of n to list s
s.extend(n)
print(s)

['a', 'b', 'c', [1, 2, 3], 1, 2, 3]

In [ ]:
print(n)
print(s)

[1, 2, 3]
['a', 'b', 'c', [1, 2, 3], 1, 2, 3]

**Obs.:** When you have a list that contains within it another mutable object, such as other lists, there are differences between `deepcopy` and the shallow `.copy` option that comes with lists. We don't have time to get into why this is, but you can check the extra notebook about this topic at home. The main takeaway is if you want to avoid changing the original list or the original list changing the copy, use deepcopy!

## Exercise:

What will the following code block print?
For each print statement, comment what you think it will be and then test before moving on to the next print statement.

```
test_list = []
test_list +=['do']
test_list.append('re')
test_list.append(['mi','fa', 'so'])
test_list.extend(['la', 'ti'])
print(len(test_list)) #1
print(test_list) #2
print(test_list[2]) #3

del test_list[2][0]
print(test_list) #4

test_list[3] = []
print(test_list) #5

```

In [ ]:
test_list = []
test_list +=['do']
test_list.append('re')
print(test_list)
test_list.append(['mi','fa', 'so'])
test_list.extend(['la', 'ti'])
print(len(test_list)) #1
print(test_list) #2
print(test_list[2]) #3

['do', 're']
5
['do', 're', ['mi', 'fa', 'so'], 'la', 'ti']
['mi', 'fa', 'so']

In [ ]:
del test_list[2][0]
print(test_list) #4

test_list[3] = []
print(test_list) #5

['do', 're', ['fa', 'so'], 'la', 'ti']
['do', 're', ['fa', 'so'], [], 'ti']

# Dictionaries

Dictionaries are a mutable datatype consisting of key and value pairs. They are good for quickly accessing the values of arbitrary keys. Keys and values can both be any data type.

Dictionaries look like this:
```
{
  key0: value0,
  key1: value1,
  key2: value2
}
```

In [ ]:
# Dictionaries:
monkey_A = {
'spiketimes': [0,20,34,56],
'name': 'Einstein',
}

In [ ]:
monkey_A

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein'}

In [ ]:
# lists the keys in the dictionar
monkey_A.keys()

dict_keys(['spiketimes', 'name'])

In [ ]:
monkey_A['spiketimes'] # gets the value at the key inside the brackets

[0, 20, 34, 56]

What will `monkey_A['name']` output?

Guess, and then type and run below.

In [ ]:
# type here

In [ ]:
monkey_A['lab'] = 'Churchland' # adds key, value pair to dictionary ('lab' is the key, 'Churchland' is the value)

In [ ]:
monkey_A

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein', 'lab': 'Churchland'}

In [ ]:
'lab' in monkey_A # test if a key is in a dictionary
# this also work with strings (e.g. 'hi' in 'abhi' will be True)

True

In [ ]:
del monkey_A['lab'] # delete a key value pair
'lab' in monkey_A

False

In [ ]:
monkey_A

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein'}

You can create dictionaries from lists and by setting keys equal to values using the `dict` constructor.

In [ ]:
my_list = [(1,'Renata'), (2, 'Renata'), (3, 'Renata'), (4, 'Sharon'), (5,'Sharon')]
print(my_list)
dict(my_list)

[(1, 'Renata'), (2, 'Renata'), (3, 'Renata'), (4, 'Sharon'), (5, 'Sharon')]

{1: 'Renata', 2: 'Renata', 3: 'Renata', 4: 'Sharon', 5: 'Sharon'}

In [ ]:
dict(instructor_1 = 'Renata', instructor_2 = 'Sharon', instructor_3 = 'Abhi')

{'instructor_1': 'Renata', 'instructor_2': 'Sharon', 'instructor_3': 'Abhi'}

Note that dictionary keys need to be unique, so, for example:

In [ ]:
my_list = [(1,'Renata'), (1, 'Abhi')]
dict(my_list)

{1: 'Abhi'}

Will not give what we expect, but values do not need to be unique, which is why the below works.

In [ ]:
my_list = [(1,'Renata'), (2, 'Renata')]
dict(my_list)

{1: 'Renata', 2: 'Renata'}

## Exercise

1. Create a dictionary (using any of the above methods) of what you would order for lunch if you could. Have the keys be the menu items, and the values be their prices. Store the dictionary in a variable called `lunch_menu`
2. Print out the keys of the dictionary.
3. Get the price for a specific menu item out of the dictionary.
4. Check if a certain menu item is in the dictionary.
5. Delete that menu item from the dictionary.
6. Check again if that menu item is in the dictionary.

In [ ]:
lunch_menu ={
    'pasta' :1.50,
    'burger' : 2.45,
    'salad' : 1.25
}

In [ ]:
lunch_menu.keys()

In [ ]:
lunch_menu['pasta']

In [ ]:
'pasta' in lunch_menu

In [ ]:
del lunch_menu['pasta']

In [ ]:
'pasta'in lunch_menu

# Tuples
Tuples are static, or immutable. Like strings, you cannot modify them once you have created them. Slicing works with tuples like it works with lists. Tuples are useful when you want to make sure something cannot accidentally get modified, and we will use them when we learn about functions next class.

In [ ]:
my_tup = 'test',0,1

In [ ]:
my_tup

('test', 0, 1)

In [ ]:
my_tup[0]

'test'

What will `my_tup[1]` output? Guess before typing and checking below.

In [ ]:
 my_tup[1]

0

In [ ]:
my_tup[0] = 'it worked' # will this line work? Guess before trying.

TypeError: ignored

In [ ]:
my_tup + 0 # what about this?

TypeError: ignored

In [ ]:
my_tup + (0,) # creates a new tuple, but my_tup is unchanged.

('test', 0, 1, 0)

In [ ]:
my_tup

('test', 0, 1)

In [ ]:
new_tup = my_tup + (0,)

In [ ]:
new_tup # what will new_tup be?

('test', 0, 1, 0)

In [ ]:
del my_tup[0]

TypeError: ignored

## Tuple Unpacking and Packing

Tuple packing and unpacking refers to separating a tuple into variables or joining variables into a tuple. When unpacking `_` is used as a placeholder for a tuple value you do not care about using in further code.

In [ ]:
a,b = my_tup # fails because only have two values to unpack into but tuple has 3

ValueError: ignored

In [ ]:
a,b,_ = my_tup # tuple unpacking

In [ ]:
print(a,b)

test 0

In [ ]:
new_tup = 1,2,3 # tuple packing

In [ ]:
new_tup

(1, 2, 3)

In [ ]:
hierarchical_tup = (1,2),3
print(hierarchical_tup)

((1, 2), 3)

In [ ]:
# Let's say we want a b and c to represent the three elements in our hierarchical tuple
a,b,c = hierarchical_tup
# Why does this fail?

ValueError: ignored

In [ ]:
(a,b), c = hierarchical_tup

In [ ]:
# How can we unpack this?

# Unpack multiple tuples

x, c = hierarchical_tup
a,b = x

# Hierarchical Tuple Unpacking

(a,b),c = hierarchical_tup

## Exercise:

1. Are tuples mutable or immutable?
2. Create a tuple of your and your coding partner's names, called `our_names`.
3. Change your name to the name of one of the other people at your table (Can you?)
4. Create a new tuple of `whole_table_names` with `our_names` and your other tablemate's names.
5. Unpack the `whole_table_names`, using a placeholder for your own name
6. Print everyone else's names using the unpacked values.

In [ ]:
#1. Immutable
our_names = 'Riya', 'Fred'

In [ ]:
our_names[0] = 'Andrea'

NameError: ignored

# For loops

For loops let us repeat code, for example when iterating through a dictionary, list, or a tuple. We can also use for loops when we want to repeat code a certain number of times.

### Directly iterate through a list

In [ ]:
teachers = ['Abhi', 'Sharon', 'Renata']
for val in teachers: # directly iterate through the items in a list.
    print(val)

Abhi
Sharon
Renata

### Directly iterate through a tuple

This works in the same way as for a list. Can you write something like above using new_tup instead of teachers? Try it below.

In [ ]:
for val in new_tup:
    print(val)

1
2
3

### Directly Iterate through a Dict

In [ ]:
print(monkey_A.keys())
for k in monkey_A.keys():
    print(k,monkey_A[k])

NameError: ignored

In [ ]:
print(monkey_A.items())# list of items

for key, value in monkey_A.items(): # combines tuple unpacking with items
    print(key, value)

# the above is equivalent to:
for item in monkey_A.items():
    key, value = item
    print(key, value)

dict_items([('spiketimes', [0, 20, 34, 56]), ('name', 'Einstein')])
spiketimes [0, 20, 34, 56]
name Einstein
spiketimes [0, 20, 34, 56]
name Einstein

### Range

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

Can you create for loop through a range like above that starts at 1 and stops at 7 (inclusive)?

Try below.

In [ ]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

What about one that starts at 0 and ends at 6 (inclusive) where only every other number is iterated through? (Hint: use the step argument to range)

In [ ]:
for i in range(0,7,2):
    print(i)

0
2
4
6

How can we use range with a for loop to print both the index and the value for each element of a list?

When you want to modify entries in a list, it is helpful to have the index for the entries.

In [ ]:
print(teachers)
for i in range(len(teachers)):
  print(i, teachers[i])
  teachers[i] += 's'

['Abhi', 'Sharon', 'Renata']
0 Abhi
1 Sharon
2 Renata

In [ ]:
teachers # what do you expect this to output?

['Abhis', 'Sharons', 'Renatas']

### List Comprehension
With something called **list comprehension**, you can use a for loop in line to create dictionaries and lists like this:

In [ ]:
my_list = [x**2  for x in range(6) if x%2==0] # only uses x's where the condition is true
print(my_list)

# The above code is equivalent to:
my_list = []
for x in range(6):
  if x%2 == 0:
    my_list.append(x**2)

print(my_list)

[0, 4, 16]
[0, 4, 16]

In [ ]:
my_dict = {x:x**2 for x in range(6)}
print(my_dict)

# The above code is equivalent to:
my_dict = {}
for x in range(6):
  my_dict[x] = x**2

print(my_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise:
1. Create a list using list comprehension where any values between 2 and 10 inclusive that are divisible by 3 are added to the list. Assign the list to a variable called `divisible_3s`.
2. Using a for loop, print the index and the value at that index for every element in `divisible_3s`.
3. Create a dictionary using list comprehension where the key is $x^3$ and the value is $x^2$ for x's between 1 and 4 inclusive. Assign the dictionary to variable `cube_square`.
4. Print the key and value for every key, value pair in `cube_square`

In [ ]:
divisible_3s = [x for x in range(2,11) if x%3 == 0]
print(divisible_3s)

[3, 6, 9]

In [ ]:
for x in range(len(divisible_3s)):
  print(x, divisible_3s[x])

0 3
1 6
2 9

In [ ]:
cube_square = {x**3: x**2 for x in range(1,5) }

{1: 1, 8: 4, 27: 9, 64: 16}

In [ ]:
print(cube_square)

{1: 1, 8: 4, 27: 9, 64: 16}

## Enumerate

Enumerate lets you access both the index and the item itself for an item in a list -- this is useful when you want access to both the item and the index of that item in the body of the loop. You can always access the item by using `item = list[index]` but enumerate lets you shorten this.

In [ ]:
# define a dictionary
expat = {
    "appetizer": ['cauliflower wings', 'tater tots'],
    "main": ['curry', 'burger'],
    "dessert": ['ice cream', 'pastry']
}

In [ ]:
# What if we want both the index and the value at that index for a list?
for i in range(len(expat["appetizer"])):
  print(i, expat["appetizer"][i])

0 cauliflower wings
1 tater tots

In [ ]:
for item in expat["appetizer"]:
  print(item)

cauliflower wings
tater tots

In [ ]:
# Enumerate lets us get both at the same time elegantly!
for i, item in enumerate(expat["appetizer"]):
  print(i, item)

0 cauliflower wings
1 tater tots

In [ ]:
# We can also use enumerate with the dictionary to number (key, value) pairs.
for i, (key, value) in enumerate(expat.items()):
  print(i, key, value)

### Exercise:

Can you use a for loop with enumerate to remove all odd numbers from `evens`, so that `evens` contains all the even digits? Use `pop` or `del`, don't use `remove` for this.

In [ ]:
evens = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i, item in enumerate(evens):
  if i%2 == 1:
    evens.pop(i)
  print(evens)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, 19, 20]
[1, 3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, 19]

# While loops

While loops, unlike for loops, will iterate indefinitely, until the condition following the while is False. You might want to do this if you are using an iterative algorithm where you want the performance to get above a certain level before stopping, for example with machine learning (more on this later).

In [ ]:
# While loops
# find largest power of 2 less than 9000
power = 0
while 2**power < 9000:
  power +=1
power-=1
print(2**power)

8192

If you put a condition that is never False, your code may run indefinitely, and you may have to interrupt your kernel to get it to stop.

In [ ]:
i=0
while i < 10:
  print(i)

## Exercise:
The Collatz sequence begins with some starting number. Given its previous number $n$, it generates the next number based on the following rule: if $n$ is even, the next number is $n/2$. If $n$ is odd, the next number is $3n+1$.

Write some code below that generates the Collatz sequence for a starting number of $27$ until the number hits $1$.

In [ ]:
# Collatz sequence

# Break and Continue

`break` and `continue` are statements that can be used within loops.

When code reaches a `continue` statement, it jumps to the next iteration of the loop without running the rest of the code in the loop.

When code reaches a `break` statement it jumps outside the loop (skipping any remaining iterations) without running the rest of the code in the loop.

A `pass` statement, finally is completely ignored. This is useful when code is required syntactically, but you don't actually want to run anything there.

For these statements it may not be entirely clear right now what their purpose is, but they become particularly useful in managing more complex code.

In [ ]:
for i in range(10):
  print('New loop')
  if i%2==0:
    continue
  print(i) # This command is skipped for all even numbers

New loop
New loop
1
New loop
New loop
3
New loop
New loop
5
New loop
New loop
7
New loop
New loop
9

In [ ]:
for i in range(10):
  print('New loop')
  if i==5:
    break # Leaves the loop completely once it encounters this statement
  print(i)

New loop
0
New loop
1
New loop
2
New loop
3
New loop
4
New loop

In [ ]:
for i in range(10):
  print('New loop')
  if i==5:
    pass # Leaves the loop completely once it encounters this statement
  print(i)

## Exercises

1. Fix this code so it runs.

2. Add something we just learned about to this code so the last thing it prints is 10.

3. Add something we just learned to the below code so it doesn't print multiples of 3

# Functions

Currently, you are writing code simply by defining code that will be executed immediately. As you create larger codebases and share them with other people, it will be important for you to structure your code in functions: structure which execute a certain piece of code.

For example, the Fibonacci sequence starts with $x_0=0$ and $x_1=1$. We then define $x_{j+2}=x_j+x_{j+1}$. The following functions prints out each value of the Fibonacci sequence until some value $n$.

You can recognize functions by the `def` symbol in the beginning. `fibonacci` is the function's name and the variable in parentheses afterwards is an argument provided to the function. (Multiple arguments would be separated by commas.)

In [ ]:
def fibonacci(n):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to print.

  """
  a,b = 0, 1
  while a <n:
    print(a)
    next= a+b
    a = b
    b = next

In [ ]:
fibonacci (3000)

In [ ]:
help(fibonacci)

## Exercise

Write a function (called `collatz`) that takes in a starting value and prints out each value of the Collatz sequence. As a reminder, the rule was:
- if the previous value $n$ was even, the next value is $n/2$.
- if the previous value was odd, the next value is $3n+1$.
Let the function end when the value taken is $1$.

## return

The return sequence leaves the function and returns any variable coming afterwards.

In [ ]:
def fib_return (n):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to return.
  Returns:
      list: List of fibonacci sequence values
  """

  fib_list = []
  a,b = 0, 1
  while a <n:
    fib_list.append(a)
    next= a+b
    a = b
    b = next
  return fib_list

In [ ]:
fib_return(1000)

In [ ]:
my_fib_list = fib_return(1000)

In [ ]:
my_fib_list

## Default arguments

In [ ]:
# We cannot run fib_return without specifying n:
fib_return()

In [ ]:
# Default arguments can be specified but don't have to be:
def fib_return (n=1):
  """
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to return. Default value is 1.
  Returns:
      list: List of fibonacci sequence values
  """

  fib_list = []
  a,b = 0, 1
  while a <n:
    fib_list.append(a)
    next= a+b
    a = b
    b = next
  return fib_list

In [ ]:
fib_return()

In [ ]:
fib_return(10)

## Warning about default arguments

Your default arguments should never be mutable. Otherwise repeated function calls can interact with each other.

In [ ]:
# mutable arguments

def f(a, L=[]):
    L.append(a)
    return L

print(f(1)) # predict what will happen?
print(f(2))
print(f(3))

In [ ]:
# Which data types are mutable -> dictionaries and lists

In [ ]:
# Solution
def f(a, L=None):
    if L is None: # None now provides a marker that we would like to use the default argument.
        L = []
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

## Args and kwargs

You can also use a piece of code that allows you to provide arbitrary arguments (with or without keywords) to your function. If you use `*args` as one of the arguments of your function, this will take any unnamed argument and put all of them in a tuple:

In [ ]:
def f(a, *args):
  print(a)
  print(args)
f(1, 2, 3)

In [ ]:
f(1, 2, 3, 4)

In [ ]:
# The name args is not important
def f(a, *variable):
  print(a)
  print(variable)
f(1, 2, 3)
f(1, 2, 3, 4)

Similarly, if you put two asterisks in front of your variable (e.g. ``**kwargs``), it will assign all names variables to kwargs (in a dictionary format).

In [ ]:
def f(a, **kwargs):
  print(a)
  print(kwargs)
f(a=1, b=2, c=3)

Again, we're mostly explaining this so you are familiar with it later on, when it will become extremely useful.

# Errors

By now, we have seen several pieces of code that have failed to run. In that case, Python does not only raise an error, but also specifies what exactly went wrong.

In [ ]:
# A syntax error indicates that your code is not properly formatted:
a = 2
print(a+3

In [ ]:
# A type error indicates that a function received an input of the wrong type
a = '2'
print(a+3)

In [ ]:
# An index error suggests that it is not possible to index an object in the attempted way.
a = [2, 3]
a[3]

You can return errors yourself using the command `raise`:

In [ ]:
a = 3
if a == 3:
  raise ValueError('a should not be three')

## Exercise
Write a function `integer_add` that takes two arguments and adds them together. If either of the arguments are not integers, it should raise an error. What is the correct error for this issue?

# Try / Except


`try` tries the code in the `try` codeblock, and if it gives an error, runs code in an `except` code block. Best practice is to specify the errors you expect in the `except` statement so that you don't accidentally allow an unexpected error to go by unreported and unnoticed.

For example, lets say that we want to count the number of occurrences of each letter in a given word -- for this example we will use abracadabra, but we want our code to work on any word.

We might decide to do this using a dictionary where the keys are the letters and the values are the number of times that letter has occurred. We only want to have letters that do occur in the word as keys in our dictionary.

In [ ]:
word = "abracadabra"

letter_counts = {}
for letter in word: # we can loop through strings like lists or tuples.
  letter_counts[letter]+=1 # add one to the value at key letter

In [ ]:
word = "abracadabra"


letter_counts = {}
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

See below for why it is important to specify the type of error you expect. Since we specified the type of error we expected and got a different error, we still find out that there is an error, and can take precautions to make sure we don't, for example, overwrite important info.

In [ ]:
word = "abracadabra"


letter_counts = {}
letter_counts['a'] = "important info that should not be overwritten" # something unexpected as a value
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

What happens if you do not specify KeyError after `except` and just write `except:`?

Try modifying below.

In [ ]:
word = "abracadabra"


letter_counts = {}
letter_counts['a'] = "important info that should not be overwritten" # something unexpected as a value
for letter in word:
  try:
    letter_counts[letter]+=1
  except KeyError: # we specify the type of error we expect here
    letter_counts[letter] = 1

print(letter_counts)

### Exercise:
Use try/except to write code that takes numbers a and b and prints a/b. If it gets an error (for example b is 0), it should instead print "Cannot divide by zero". Try your code with a few different choices of a and b to make sure it works correctly.